@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "bangkok-bold";
  src: url("../assets/MAKBANGKOK.woff2") format("woff2");
  font-weight: bold;
}
body {
  font-family: "bangkok-bold" !important;
}
