@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "bangkok-bold";
  src: local("bangkok-bold"), url("../fonts/MAKBANGKOK.TTF") format("truetype");
  font-weight: bold;
}
.font-face-bold {
  font-family: "bangkok-bold" !important;
}
